/* https://monaspace.githubnext.com */

/* normal, bold */

@font-face {
    font-family: "Monaspace Argon";
    font-weight: normal;
    src: url("MonaspaceArgon-Regular.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Monaspace Argon";
    font-weight: bold;
    src: url("MonaspaceArgon-Bold.woff") format("woff");
    font-display: swap;
}

/* bold */

@font-face {
    font-family: "Monaspace Neon";
    font-weight: bold;
    src: url("MonaspaceNeon-Bold.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Monaspace Xenon";
    font-weight: bold;
    src: url("MonaspaceXenon-Bold.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Monaspace Radon";
    font-weight: bold;
    src: url("MonaspaceRadon-Bold.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Monaspace Krypton";
    font-weight: bold;
    src: url("MonaspaceKrypton-Bold.woff") format("woff");
    font-display: swap;
}

/* https://github.com/mona-sans */

/* normal, bold */

@font-face {
    font-family: "Mona Sans";
    font-weight: normal;
    src: url("MonaSans-Regular.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Mona Sans";
    font-weight: bold;
    src: url("MonaSans-SemiBold.woff2") format("woff2");
    font-display: swap;
}